<div class="container">
        <div class="text-center">
                <img _ngcontent-yfh-c1="" alt="..." class="rounded" src="  assets/imgbtl/book1.png" style="width: 1100px;height: 300px; ">
              </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/btl']"><i class='far fa-bookmark' style='font-size:24px'></i> Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class='fas fa-camera-retro' style='font-size:24px'></i> Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class='fas fa-bullhorn' style='font-size:24px'></i> Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class='far fa-credit-card' style='font-size:24px'></i> Góp ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class='fas fa-gift' style='font-size:24px'></i> Hỏi đáp</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 460px">
              Tài khoản
            </a>
            <div class="dropdown-menu dropdown-menu-right login-home ">
                    <a class="dropdown-item" [routerLink]="['/DK']">Đăng ký</a>
                    <a class="dropdown-item" [routerLink]="['/DN']">Đăng Nhập</a>
                    <a class="dropdown-item"[routerLink]="['/QMK']">Quên mật khẩu</a>
                    
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                        <a class="dropdown-item"[routerLink]="['/DMK']">Đổi mật khẩu</a>
                  </div>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container"  style="padding-top: 20px">
            <div class="row">
                <div class="col-md-9">
            <div class="card-deck">
                <div class="card text-center">
                    <img src="assets/logos/1.jpg">
                    <div class="card-footer">
                        <small class="text-muter">Lập trình android </small>
                    </div>
                </div>
    
                <div class="card text-center">
                    <img src="assets/logos/2.jpg">
                    <div class="card-footer">
                        <small class="text-muter">Lập trình đa nền tảng nâng cao</small>
                    </div>
                </div>
                
            </div>
    
            <div class="card-deck">
                <div class="card text-center">
                    <img src="assets/logos/3.jpg">
                    <div class="card-footer">
                        <small class="text-muter">Lập trình thế giới Internet</small>
                    </div>
                </div>
    
                <div class="card text-center">
                    <img src="assets/logos/4.jpg">
                    <div class="card-footer">
                        <small class="text-muter">thiết kế web </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon">
                    <a class="btn" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
    
                    <a class="btn" href="#">
                        <i class="fas fa-address-book"></i>
                    </a>
    
                    <a class="btn" href="#">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                    </a>
    
                    <a class="btn" href="#">
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
                    </div>
                </div>
            </div>
            
            
            </div>
            <div class="col-md-3 text-right-1">
                    <div class="danhsach" style="margin-top:10px">
                
                
                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size:16px; font-weight:bold">
                                      <i class='fas fa-gift' style='font-size:24px'></i> Danh sách môn học lập trình
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Lập trình Android nâng cao</li>
                                        <li class="list-group-item">Lập trình hướng đối tượng Java</li>
                                        <li class="list-group-item">Lập trình PHP</li>
                                        <li class="list-group-item">Lập trình Android cơ bản</li>
                                        <li class="list-group-item">Lập trình game 2D</li>
                                        <li class="list-group-item">Lập trình ASP NET</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size:16px; font-weight:bold">
                                      <i class='fas fa-gift' style='font-size:24px'></i> Danh sách các môn thiết kế
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Thiết kế giao diện điện thoại Android </li>
                                        <li class="list-group-item">Thiết kế phần mềm dự án</li>
                                        <li class="list-group-item">thiết kế web </li>
                                        <li class="list-group-item">thiết kế SQL serve </li>
                                        <li class="list-group-item">thiết kế xây dựng</li>
            
                                    </ul>
                                  </div>
                                </div>
                              </div>
                             
                            </div>
                    
                    
                    
                    </div>
                
            </div>
        </div>

</div>







</div>



