<div class="container">
   <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
   <div class="card-body">
    <div class="card text-center">
        <div class="card-header">
          THÊM SINH VIÊN 
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Họ tên sinh viên</label>
                  <div class="col-sm-4">
                    <input type="email" class="form-control" id="inputEmail3" >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Ngày sinh:</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword3">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">điểm</label>
                    <div class="col-sm-4">
                      <input type="email" class="form-control" id="inputEmail3" >
                    </div>
                  </div>
                  
                </form>
              
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">HỌ VÀ TÊN</th>
                        <th scope="col">NGÀY SINH</th>
                        <th scope="col">ĐIỂM</th>
                        <th scope="col">XẾP LOẠI</th>
                        <th scope="col">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td><button type="button" class="btn btn-primary btn-sm">xóa</button>
                            <button type="button" class="btn btn-secondary btn-sm">sửa</button>
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                  <div class="nut">
                        <button type="button" class="btn btn-primary">THÊM </button>
                        <button type="button" class="btn btn-secondary">XÓA</button>
                        <button type="button" class="btn btn-success">SỬA</button>
                        <button type="button" class="btn btn-danger">HỦY</button>
                </div>
        </div>
        
      </div>
   </div>
</div>  

  