<div class="container">
    <div class="text-center">
            <img _ngcontent-yfh-c1="" alt="..." class="rounded" src="  assets/imgbtl/book1.png" style="width: 1100px;height: 300px; ">
          </div>
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/btl']" style="color: chartreuse;"><i class='far fa-bookmark' style='font-size:24px'></i> Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: chartreuse"><i class='fas fa-camera-retro' style='font-size:24px'></i> Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: chartreuse"><i class='fas fa-bullhorn' style='font-size:24px'></i> Liên hệ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: chartreuse"><i class='far fa-credit-card' style='font-size:24px'></i> Góp ý</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: chartreuse"><i class='fas fa-gift' style='font-size:24px'></i> Hỏi đáp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dsm']"> <button type="button" class="badge badge-pill badge-warning">Danh sách môn</button></a>
      </li>
     
      <li class="dropdown mt-3 mt-lg-0" style="margin-left: 300px">
          <button type="button" class="glow-on-hover btn btn-primary font-weight-bold hvr-icon-hang" data-toggle="dropdown">
            <span class="mr-1 txtshadow" *ngFor="let log of userLogin">{{log.username}}</span>
            <i class="fas fa-caret-down fa-lg hvr-icon text-violet"></i>
          </button>	
    
          <div class="dropdown-menu my-bgmenu my-form mt-2 border-primary dropdown-menu-lg-right dropdown-menu-md-left">
            <a class="dropdown-item my-bd" [routerLink]="['/DK']">Đăng Ký</a>
           
            <a class="dropdown-item my-bd" [routerLink]="['/DN']" (click)="checkIn()">Đăng Nhập</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item my-bd" [routerLink]="['/QMK']">Quên Mật Khẩu</a>
            <a class="dropdown-item my-bd" href="http://localhost:4200/btl" *ngIf="showQuiz" (click)="logout()">Đăng Xuất</a>        
            <a class="dropdown-item my-bd"  [routerLink]="['/DMK']">
              Đổi Mật Khẩu
            </a>            
            <a class="dropdown-item my-bd" [routerLink]="['/cntk']">
              Cập Nhật Tài Khoản
            </a>   
          </div>
      </li>
</ul>
</div>

</nav>


<div class="my-form pt-4 pb-5 mt-4 mb-5">
        <h4 class="text-center text-primary">Thông Tin Tài Khoản Của Bạn</h4>
        <hr class="mt-4 mb-5 border-primary">
        <table class="table table-striped table-hover table-responsive-sm text-primary table-bordered text-center">
          <thead class="table-info">			 
            <tr>
              <th scope="col">Tài Khoản</th>
              <th scope="col">Mật Khẩu</th>
              <th scope="col">Cập Nhật Mật Khẩu</th>
            </tr>
          </thead>
          <tbody *ngIf="showEdit">	
            <tr *ngFor="let std of userlogin">
              <td class="align-middle">{{std.username}}</td>
              <td class="align-middle">{{std.password}}</td>	
              <td class="align-middle">
                <span (click)="onSelectST(std)" (click)="show =!show"><i class="fas fa-edit fa-2x"></i></span>
              </td>			
            </tr>			 	
          </tbody>
          <tbody *ngIf="!showEdit">				
            <tr *ngFor="let us of userlogin">
              <td class="align-middle">{{us.username}}</td>
              <td class="align-middle">{{us.password}}</td>		
              <td class="align-middle">
                <span (click)="onSelectUS(us)"><i class="fas fa-edit fa-2x"></i></span>
              </td>			
            </tr>			
          </tbody>
        </table>
      </div>
        <div class="my-4" *ngIf="isshow">
        <form #formUser ="ngForm" class="was-validated my-form text-primary" oninput='repass.setCustomValidity(repass.value != newpass.value ? "Passwordsc" : "")'>	
          <h4 class="text-center pt-4 text-info text-monospace">Cập Nhật Mật Khẩu</h4>
          <hr class="border-info" />    
          <div class="form-row">
            <div class="col-md-2 offset-md-3">
              <label for="username">Tên Đăng Nhập:</label>
            </div>
            <div class="col-md-4 form-group ">
              <input [(ngModel)]="fmEdit.username" name="username" type="text" class="form-control" readonly>
            </div>				
          </div>	
      
          <div class="form-row">
            <div class="col-md-2 offset-md-3">
              <label for="exampleInputPassword1">Mật Khẩu Cũ:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
              <input [(ngModel)]="fmEdit.password" type="password" class="form-control" name="password" readonly>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
              <input [(ngModel)]="fmEdit.password" type="text" class="form-control" name="password" readonly>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-md-2 offset-md-3">
              <label for="exampleInputPassword1">Mật Khẩu Mới:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
              <input [(ngModel)]="newpass" name="newpass" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
              <div class="invalid-feedback">1 chữ hoa,1 chữ thường,1 chữ số và từ 5-20 kí tự</div>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
              <input [(ngModel)]="newpass" name="newpass" type="text" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
              <div class="invalid-feedback">1 chữ hoa,1 chữ thường,1 chữ số và từ 5-20 kí tự</div>
            </div>
          </div>
      
          <div class="form-row">
            <div class="col-md-2 offset-md-3">					
              <label for="exampleInputPassword2">Xác Nhận:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
              <input [(ngModel)]="repass" name="repass" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
              <div class="invalid-feedback">Mật khẩu phải giống nhau</div>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
              <input [(ngModel)]="repass" name="repass" type="text" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
              <div class="invalid-feedback">Mật khẩu phải giống nhau</div>
            </div>
          </div>
      
          <div class="form-row pl-2">
            <div class="form-check form-group offset-md-5">
              <input [(ngModel)]="check" id="sp" class="form-check-input" type="checkbox" name="check">
              <label class="form-check-label text-blue" for="sp">Hiện Mật Khẩu</label>
            </div>
          </div>
      
          <hr class="border-info"/>
          <div class="form-row">			
            <div class="form-group col-md-4 offset-md-5">
              <button  [disabled]="formUser.invalid" type="button" (click)="saveUserLocal(StudentById)" class="btn btn-info">
                XÁC NHẬN
              </button>	
            </div>	
          </div>
        </form>
      </div>
      <div *ngIf="show"><app-suamatkhau [student] = "selectStudent" (editStudent)="onEdit($event)"></app-suamatkhau>
         </div>


</div>
